html,
body * {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro";
    font-weight: 700;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.common_body {
    width: 100vw;
    height: 100vh;
}


.link,
.button,
.select,
.input {
    cursor: pointer;
}

/*バリデーションmessage*/
.form__error {
    width: 100%;
    height: 21px;
    line-height: 21px;
    color: rgba(253, 7, 7, 1);
    text-align: left;
    font-size: 14px;
    font-weight: 300;
}

/*コントローラーからのメッセージ*/
.alert {
    height: 21px;
    line-height: 21px;
    color: rgba(75, 75, 75, 1);
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}

/*画面全体のstyle*/
.site_main {
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
}

/*headerのstyle*/
.product-header {
    width: 100%;
    height: 53px;
    border-bottom: 1px solid rgba(244, 244, 244, 1);
    background: rgba(255, 255, 255, 1);
    display: flex;
    padding: 10px 20px;
    margin: 0;
}

/*mogitate文字のstyle*/
.top_logo {
    height: 100%;
    color: rgba(245, 200, 0, 1);
    font-style: italic;
    font-size: 30px;
    line-height: 33px;
    font-family: "jsMath-cmti10", serif;
    font-weight: 500;
    margin: 0;
}

/*headerの下全体のstyle*/
.container{
    width: 100%;
    background-color: rgba(248, 248, 248, 1);
    padding: 70px 0;
}

/* ページネーションコンテナのスタイル */
.pagination-container {
    text-align: center;
}

/* ページネーション全体のスタイル */
.pagination {
    width: 195px;
    height: 30px;
    display: inline-flex;
    list-style: none;
    padding: 0;
}

/* 各ページネーションアイテムのスタイル */
.pagination .page-item {
    margin: 0 10px;
}

/* リンクの基本スタイル */
.pagination .page-link {
    width: 31px;
    height: 30px;
    border: none;
    padding: 5px 9.5px 7px 9.5px;
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(75, 75, 75, 1);
    cursor: pointer;
}

/* ページネーションリンクのホバー時のスタイル */
.pagination .page-link:hover {
    border: 1px solid rgba(224, 223, 222, 1);
    background-color: rgba(224, 223, 222, 1);
    color: rgba(75, 75, 75, 1);
}

/* アクティブなページのスタイル */
.pagination .page-item.active .page-link {
    background-color: rgba(245, 200, 0, 1);
    color: rgba(255, 255, 255, 1);
}

/* 無効なリンクのスタイル */
.pagination .page-item.disabled .page-link {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(75, 75, 75, 1);
}

@media screen and (max-width: 768px) {
    .container {
        padding: 35px 0;
    }
}
