/*bodyのstyle*/
.common_body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/*画面全体のstyle*/
.site_main {
  width: 100%;
  background-color: white;
}

/*headerのstyle*/
.products-header {
  display: flex;
  align-items: baseline;
}

/*mogitate文字のstyle*/
.top_logo {
  color: rgb(255, 217, 0);
  font-size: 1.5rem;
  text-align: start;
  margin-bottom: 0;
  margin-left: 15px;
  width: 100%;

}

/*headerの下全体のstyle*/
.main_container{
  background-color: rgba(248, 248, 224, 0.596);
  padding: 4px;
}

@media screen and (max-width: 768px) {
    .common_body {
        height: auto;
        min-height: 100vh;
        overflow: auto;
    }
}
