/* jsMath-cmti10フォントの定義 */
@font-face {
    font-family: 'jsMath-cmti10';
    src: url('/fonts/jsMath-cmti10.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/*bodyのstyle*/
.common_body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 1);
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Sans", "ヒラギノ角ゴシック", "Yu Gothic", "游ゴシック", "Meiryo", "メイリオ", sans-serif;
}

.common-link,
.common-button,
.common-select {
    cursor: pointer;
}

/*バリデーションmessage*/
.form__error {
    height: 22px;
    line-height: 22px;
    color: #ff0000;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 2px;
}

/*コントローラーからのメッセージ*/
.alert {
    height: 22px;
    line-height: 22px;
    color: black;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 2px;
}

/*画面全体のstyle*/
.site_main {
    width: 100%;
    background-color: white;
    min-height: 100vh;
}

/*headerのstyle*/
.product-header {
    width: 100%;
    height: 53px;
    border: 1px solid rgba(244, 244, 244, 1);
    background: rgba(255, 255, 255, 1);
    display: flex;
    padding: 10px 20px;
    margin: 0;
}

/*mogitate文字のstyle*/
.top_logo {
    width: 112px;
    height: 33px;
    line-height: 33px;
    color: rgba(245, 200, 0, 1);
    font-size: 30px;
    width: 100%;
    font-family: 'jsMath-cmti10', serif;
    font-weight: 500;
    font-style: italic;
    margin: 0;
}

/*headerの下全体のstyle*/
.container{
    background-color: rgba(245, 245, 228, 0.884);
    padding: 4px;
}

/* ページネーションコンテナのスタイル */
.pagination-container {
    text-align: center;
}

/* ページネーション全体のスタイル */
.pagination {
    display: inline-flex;
    list-style: none;
    padding: 0;
}

/* 各ページネーションアイテムのスタイル */
.pagination .page-item {
    margin: 0 8px;
}

/* リンクの基本スタイル */
.pagination .page-link {
    color: black;
    background-color: white;
    border: 1px solid white;
    padding: 6px 14px;
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ページネーションリンクのホバー時のスタイル */
.pagination .page-link:hover {
    background-color: #999;
    color: black;
    border-color: rgb(219, 219, 204);
}

/* アクティブなページのスタイル */
.pagination .page-item.active .page-link {
    background-color: rgb(255, 102, 0);
    color: black;
}

/* 無効なリンクのスタイル */
.pagination .page-item.disabled .page-link {
    background-color: white;
    color: black;
}

@media (width <=767px) {
    .common_body {
        height: auto;
        min-height: 100vh;
        overflow-y: auto;
        padding: 10px 0;
        align-items: flex-start;
    }

    .site_main {
        width: 100%;
        min-height: 100vh;
    }

    .products-header {
        padding: 0 10px;
    }

    .top_logo {
        font-size: 1.5rem;
        margin-left: 10px;
    }

    .main_container {
        padding: 10px;
    }

    /*バリデーションmessage*/
    .form__error {
        font-size: 1rem;
    }

    /* リンクの基本スタイル */
    .pagination .page-link {
        padding: 4px 12px;
    }
}

@media (min-width: 768px) and (max-width: 912px) {
    .common_body {
        padding: 5px 0;
    }

    .top_logo {
        font-size: 1.3rem;
        margin-left: 5px;
    }

    .main_container {
        padding: 5px;
    }

}
