.product-container {
    background-color: rgba(248, 248, 248, 1);
    padding: 70px 20px;
}

/*商品一覧文字と追加ボタンのstyle*/
.product-title-bar {
    display: flex;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    justify-content: space-between;
    padding: 0 40px;
}


/*商品一覧文字*/
.title-name {
    display: block;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 32px;
    margin: 0;
    color: rgba(51, 51, 51, 1);
}

/*商品を追加ボタンの親要素*/
.button-container {
    display: flex;
    height: 100%;
    text-align: center;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 20px;
}

/*商品を追加ボタンのstyle*/
.add-product-button {
    width: 137px;
    height: 100%;
    display: block;
    align-items: flex-end;
    background-color: rgba(255, 169, 41, 1);
    border-radius: 5px;
    width: auto;
    font-size: 16px;
    padding: 13px 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.add-product-button:hover {
    background-color: rgb(230, 94, 3);
}


/*画面全体のstyle*/
.product {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

/*商品名検索フォームのstyle*/
.products-search {
    flex-direction: column;
    justify-content: center;
    width: 240px;
    height: 267px;
}

/*検索フォームのstyleの設定*/
.name-search {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid rgba(224, 223, 222, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 25px;
    width: 100%;
    height: 36px;
    outline: none;
    padding: 14.5px 10px;
    margin-bottom: 10px;
}

/*検索フォームブレースホルダデフォルトの設定変更*/
.name-search::placeholder {
    font-size: 14px;
    color: rgba(224, 223, 222, 1);
    line-height: 21px;
    font-weight: 300;
}

/*検索ボタンのstyle*/
.search_button {
    background-color: rgba(245, 200, 0, 1);
    border: none;
    outline: none;
    border-radius: 5px;
    width: 100%;
    height: 44px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 600;
    color: rgba(75, 75, 75, 1);

}

.search_button:hover {
    background-color: rgba(75, 75, 75, 1);
    color: rgba(245, 200, 0, 1);
}

/*カスタムアイコン*/
.select-wrapper {
    width: 100%;
    position: relative;
    height: 43px;
}

/*Selectのstyle*/
.price_select {
    width: 100%;
    height: 43px;
    color: rgba(224, 223, 222, 1);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(224, 223, 222, 1);
    line-height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 300;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    outline: none;
}

/* カスタムアイコン▽のスタイル */
.custom-select-icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-45%);
    width: 14px;
    height: 8px;
    background-color: rgba(190, 177, 166, 1);
    clip-path: polygon(0 0, 50% 24%, 100% 0, 50% 100%, 0 0);
    pointer-events: none;
    z-index: 2;
}

/*価格順で並べ替えのアウトライン*/
.line_bottom {
    border-bottom: 1px solid rgb(219, 219, 204);
}

/*価格順で表示の文字*/
.price-order-label {
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    color: rgba(51, 51, 51, 1);
    margin: 40px 0 20px 0;
    font-weight: 600;
}

/*価格順で表示の下のタグstyle*/
.sort-tag {
    width: 140px;
    display: inline-block;
    color: black;
    border: 1px solid rgb(255, 174, 0);
    border-radius: 20px;
    margin: 10px 0;
    padding: 2px 10px;
    height: 36px;
    font-size: 0.8rem;
}

/*価格順で表示リセットボタン*/
.cross_image {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
}

.cross_image::before {
    content: '×';
    color: rgb(255, 174, 0);
    font-size: 0.6rem;
    line-height: 26px;
    text-align: center;
    border: 1px solid rgb(255, 174, 0);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4px;
    left: 0px;
}

.cross_image:hover::before {
    color: rgb(255, 102, 0);
    border-color: rgb(255, 102, 0);
    background-color: rgba(255, 102, 0, 0.692);
}

.sort-tag .reset-button {
    background-color: transparent;
    border: none;
    text-decoration: none;
    margin-left: 10px;
}

/*イメージ全体のstyle*/
.products-display {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    gap:20px;
}

/*各イメージのstyle*/
.product_list {
    width: 374px;
    height: 350px;
    opacity: 1;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    margin: 0 0 1.1% 1.1%;
}

/*イメージ画像のstyle*/
.list-image {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

/*イメージ画像下の商品名とpriceのstyle*/
.list-text {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

/*取得した商品名のstyle*/
.list-name {
    margin: 10px;
    flex: 7;
}

/*取得した金額のstyle*/
.list-price {
    flex: 3;
    text-align: right;
    margin: 16px;
}

@media (width <=767px) {
    /*商品を追加ボタンの親要素*/
    .button-container {
        width: 50%;
        align-items: center;
        margin: auto;
    }

    /*商品を追加ボタンのstyle*/
    .add-product-button {
        width: 100%;
        font-size: 1rem;
        padding: 6px;
    }

    /*画面全体のstyle*/
    .product {
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 5%;
    }

    /*商品名検索フォームのstyle*/
    .products-search {
        width: 94%;
        margin: 3%;
    }

    /*検索フォームブレースホルダデフォルトの設定変更*/
    .name-search::placeholder{
    font-size: 1rem;
    }

    /*Selectのstyle*/
    .price_select {
        font-size: 1rem;
    }

    /* Selectカスタムアイコン▽のスタイル */
    .custom-select-icon {
        right: 14px;
    }

    /*価格順で表示リセットボタン*/
    .cross_image {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    }

    .cross_image::before {
        font-size: 0.8rem;
        top: -20px;
        left: 88px;
    }

    /*価格順で表示のタグstyle*/
    .sort-tag {
        padding: 5px 10px;
        height: 40px;
        font-size: 1rem;
    }

    /*イメージ全体のstyle*/
    .products-display {
        justify-content: center;
        flex-direction: column;
    }

    /*各イメージのstyle*/
    .product_list {
        margin: 10px;
    }

    /*取得した商品名のstyle*/
    .list-name {
        margin: 16px;
    }

    /*取得した金額のstyle*/
    .list-price {
        margin: 16px;
    }

}

@media (min-width: 768px) and (max-width: 912px) {
    /*各イメージのstyle*/
    .product_list {
        flex: 0 1 30%;
        margin: 0 0 3% 3%;
    }

    /*イメージ画像のstyle*/
    .list-image {
        height: 70%;
    }

    /*イメージ画像下の商品名とpriceのstyle*/
    .list-text {
        flex-direction: column;
        font-size: 0.8rem;
    }

    /*取得した商品名のstyle*/
    .list-name {
        margin: 2px;
        text-align: left;
    }

    /*取得した金額のstyle*/
    .list-price {
        text-align: left;
        margin: 2px;
    }
}
