/*title以下の画面すべてのstyle*/
.register-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*商品登録文字*/
.product-registration-title {
    width: 60%;
    text-align: left;
    font-size: 1.6rem;
    margin-top: 5%;
}

/*formのstyle*/
.register-form {
    width: 60%;
}

/*バリデーションmessage*/
.form__error {
    height: 22px;
    line-height: 22px;
    color: #ff0000;
    text-align: left;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 2px;
}

/*必須*/
.required-label {
    display: inline-block;
    border: 1px solid red;
    background-color: red;
    color: white;
    font-size: 0.8rem;
    vertical-align: middle;
    margin: 5px 10px;
}

/*複数選択可*/
.multiple-select {
    color: red;
    margin: 10px;
}

.form-control-file {
    display: block;
    max-width: 100%;
    height: auto;
}

.image-preview  {
    width: 60%;
}

/*季節文字*/
.season {
    font-size: 1.1rem;
}

.season-label {
    font-size: 1.1rem;
}

.season-check-container {
    margin: 10px 0;
}

/*ラジオボタンの外枠LINEのstyle*/
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: black;
}

input[type="checkbox"]:checked::after {
  content: '✓';
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
}

/*春のみ右にマージン */
.season-spring {
  margin-right: 10px;

}

/* 夏と秋は左右にマージン */
.season-select {
  margin: 0 10px;

}

/* 冬のみ左にマージン */
.season-sinter {
  margin-left: 10px;

}

/*label＆必須*/
.form-group {
  width: 100%;
  display: flex;
  align-items: center;
}

/*label*/
.form-label {
    width: 100%;
}

/*input*/
.form-control {
  width: 100%;
  height: 32px;
}

/*商品説明フォーム*/
.description-control {
  width: 100%;
  height: 150px;
}

/*戻るlink＆登録button親要素*/
.form-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  text-align: center;
  margin-bottom: 10%;
}

/*戻るボタン*/
.return-button {
  display: block;
  background-color: #999;
  border: 1px solid #999;
  border-radius: 6px;
  width: 25%;
  height: 40px;
  font-size: 0.8rem;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  margin: 20px 10px 0 0;
  color: black;
}

/*登録ボタン*/
.register-button {
  background-color: rgb(255, 102, 0);
  border: 1px solid rgb(255, 102, 0);
  border-radius: 6px;
  width: 25%;
  height: 40px;
  font-size: 0.8rem;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  margin: 20px 10px 0 0;
  color: black;
}
