/* コンテナとフォーム */
.register-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-name {
    width: 760px;
    height: 48px;
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    color: rgba(51, 51, 51, 1);
}

.register-form {
    width: 760px;
    margin: 30px 0;
}

/* フォーム要素 */
.form-group {
    width: 100%;
    display: flex;
    align-items: center;
}

.form-label {
    width: 100%;
    height: 24px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(75, 75, 75, 1);
}

.form-control {
    width: 100%;
    height: 43px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(224, 223, 222, 1);
    border-radius: 5px;
    padding: 11px 10px;
}

.form-control::placeholder {
    font-size: 14px;
    font-weight: 300;
    color: rgba(224, 223, 222, 1);
}

.description-control {
    height: 160px;
}



.required-label,
.multiple-select,
.file-name-display {
    font-size: 14px;
}

.required-label {
    width: 34px;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    border: none;
    background-color: rgba(253, 7, 7, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    margin-left: 10px;
}

.multiple-select {
    color: rgba(253, 7, 7, 1);
    margin-left: 10px;
}

/* ファイル選択 */
.custom-file {
    height: 43px;
    padding: 6px 0;
}

.btn-select-file {
    width: 118px;
    height: 31px;
    background-color: rgba(224, 223, 222, 1);
    border: 1px solid rgba(75, 75, 75, 1);
    color: rgba(75, 75, 75, 1);
    font-weight: 300;
    font-size: 14px;
}

.btn-select-file:hover {
    background-color: #b3b2b2;
}

.file-name-display {
    margin-left: 10px;
}

.image-preview {
    width: 60%;
}

.hidden {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

/* 季節選択 */
.season {
    font-size: 16px;
    color: rgba(75, 75, 75, 1);
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 10px;
}

.season-check-container {
    width: 314px;
    height: 43px;
    display: flex;
    align-items: center;
}

.season-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    border: 1px solid rgba(75, 75, 75, 1);
    cursor: pointer;
    position: relative;
}

.season-checkbox:checked {
    background-color: rgba(75, 75, 75, 1);
}

/* ✓の左側の縦線（上から中央へ、1px border） */
.season-checkbox:checked::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 4.5px;
    top: 61%;
    left: 45%;
    transform: translate(-50%, -50%) translate(-2px, -0.5px) rotate(-45deg);
    transform-origin: center;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 0.5px;
}

/* ✓の下側の横線（中央から右へ、1px border） */
.season-checkbox:checked::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 1px;
    top: 61%;
    left: 45%;
    transform: translate(-50%, -50%) translate(3.8px, 1.5px) rotate(-50deg);
    transform-origin: left center;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 0.5px;
}

/*チェックボックスそれぞれのstyle*/
.season-label {
    width: 41px;
    height: 34px;
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.season-label-text {
    font-weight: 300;
    font-size: 16px;
    margin-left: 5px;
}

/* ボタン */
.form-buttons {
    width: 100%;
    height: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.return-button,
.register-button {
    display: block;
    width: 200px;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: rgba(75, 75, 75, 1);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    padding: 13px 10px;
}

.return-button {
    background-color: rgba(224, 223, 222, 1);
}

.return-button:hover {
    background-color: rgba(200, 203, 222, 1);
}

.register-button {
    background-color: rgba(245, 200, 0, 1);
}

.register-button:hover {
    background-color: rgba(221, 180, 0, 1);
}

/* レスポンシブ */
@media screen and (max-width: 540px) {
    .title-name {
        font-size: 24px;
    }

    .title-name,
    .register-form {
        width: 80%;
        margin: 0 auto;
    }

    .season-check-container {
        width: 80%;
        margin: 0 auto;
    }

    .season-label {
        width: 100%;
        margin-right: 10%;
    }

    .season-label:last-child {
        margin-right: 0;
    }

    .form-buttons {
        width: 100%;
    }

    .form-buttons {
        gap: 30px;
    }

    .return-button,
    .register-button {
        width: 45%;
    }


}

@media screen and (min-width: 541px) and (max-width: 1024px) {
    .title-name {
        font-size: 28px;
    }

    .title-name,
    .register-form {
        width: 80%;
        margin: 0 auto;
    }

}
